{
    "openapi": "3.0.0",
    "info": {
        "title": "ATai API Documentation",
        "description": "https://atai.org/api/v1.0",
        "termsOfService": "https://atai.org",
        "contact": {
            "email": "hotro@atai.org"
        },
        "version": "1.0"
    },
    "servers": [
        {
            "url": "https://atai.dev24h.net/api/v1.0",
            "description": "Live host"
        },
        {
            "url": "http://atai.org/api/v1.0",
            "description": "Local host"
        }
    ],
    "paths": {
        "/banner/getAll": {
            "get": {
                "tags": [
                    "Banner"
                ],
                "summary": "Get all banner",
                "description": "",
                "operationId": "BannerGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/basket": {
            "get": {
                "tags": [
                    "Basket"
                ],
                "summary": "Get basket of user",
                "description": "",
                "operationId": "BasketGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "api_key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discount_code",
                        "in": "query",
                        "description": "discount code",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            },
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "add product to basket",
                "description": "",
                "operationId": "BasketAddProduct",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "device_id",
                                    "product_id",
                                    "quantity",
                                    "branch_id"
                                ],
                                "properties": {
                                    "token": {
                                        "description": "access token",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "device id",
                                        "type": "string"
                                    },
                                    "branch_id": {
                                        "description": "branch id",
                                        "type": "integer"
                                    },
                                    "product_id": {
                                        "description": "product_id",
                                        "type": "integer"
                                    },
                                    "product_variation_id": {
                                        "description": "product_variation_id",
                                        "type": "integer"
                                    },
                                    "quantity": {
                                        "description": "quantity",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/basket/counter": {
            "get": {
                "tags": [
                    "Basket"
                ],
                "summary": "Get basket counter",
                "description": "",
                "operationId": "BasketCounter",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/basket/update": {
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "update basket",
                "description": "",
                "operationId": "BasketUpdate",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "Access token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "basket_data"
                                ],
                                "properties": {
                                    "basket_data": {
                                        "description": "Object basket data",
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "basket_item_id": {
                                                    "description": "basket_item_id",
                                                    "type": "integer"
                                                },
                                                "quantity": {
                                                    "description": "số lượng",
                                                    "type": "integer"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/basket/remove-item": {
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "Remove items from basket",
                "description": "",
                "operationId": "BasketRemoveItems",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "basket_item_ids"
                                ],
                                "properties": {
                                    "basket_item_ids": {
                                        "description": "list item id in basket",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/basket/clear": {
            "post": {
                "tags": [
                    "Basket"
                ],
                "summary": "Clear basket",
                "description": "",
                "operationId": "Basketclear",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/branch/getAll": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "Get all Branch",
                "description": "",
                "operationId": "BranchGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/branch/getTableByIdBranch": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "Get all Table By Id Branch",
                "description": "",
                "operationId": "GetTableByIdBranch",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idbranch",
                        "in": "query",
                        "description": "idbranch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/branch/getbyfee": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "getbyfee ",
                "description": "",
                "operationId": "getbyfee",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "idbranch",
                        "in": "query",
                        "description": "idbranch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token form login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fulladdress",
                        "in": "query",
                        "description": "79/11 Trần Văn Đang, Phường 9, QUận 3",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "lat",
                        "in": "query",
                        "description": "điểm đầu",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "long",
                        "in": "query",
                        "description": "điểm cuồi",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success operation"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/branch/getAllOrdersBranch": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "Get all orders branch",
                "description": "",
                "operationId": "getAllOrdersBranch",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/branch/getAllProductBranch": {
            "get": {
                "tags": [
                    "Branch"
                ],
                "summary": "Get all product branch",
                "description": "",
                "operationId": "getAllProductBranch",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "getAllProductBranchId",
                        "in": "query",
                        "description": "1. Lấy tất cả sản phẩm tồn tại trong chi nhánh đó | Không truyền là mặc định",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "Id sản phẩm",
                        "required": false,
                        "schema": {
                            "type": "interger"
                        }
                    },
                    {
                        "name": "add_remove_product",
                        "in": "query",
                        "description": "1. là thêm sản phẩm vào chi nhánh | 0. là xóa sản phẩm khỏi chi nhánh",
                        "required": false,
                        "schema": {
                            "type": "interger"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/branch/turnOnTurnOff": {
            "post": {
                "tags": [
                    "Branch"
                ],
                "summary": "turnOnTurnOff branch",
                "description": "",
                "operationId": "turnOnTurnOff",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "typeturnOnTurnOff",
                        "in": "query",
                        "description": "1 bật 0 tắt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/counpon": {
            "get": {
                "tags": [
                    "counpon"
                ],
                "summary": "get all counpon",
                "description": "",
                "operationId": "7d7aa5b84f0656aa1c508d6a9e6234ee",
                "parameters": [
                    {
                        "name": "token",
                        "in": "query",
                        "description": "access token",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/home/index": {
            "get": {
                "tags": [
                    "Home"
                ],
                "summary": "Get home data",
                "description": "",
                "operationId": "getHomeData",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "COMPANY ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/location/province": {
            "get": {
                "tags": [
                    "location"
                ],
                "summary": "Get province",
                "description": "",
                "operationId": "locationProvince",
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/location/district": {
            "get": {
                "tags": [
                    "location"
                ],
                "summary": "Get district",
                "description": "",
                "operationId": "locationDistrict",
                "parameters": [
                    {
                        "name": "province_id",
                        "in": "query",
                        "description": "province_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/location/ward": {
            "get": {
                "tags": [
                    "location"
                ],
                "summary": "Get ward",
                "description": "",
                "operationId": "locationWard",
                "parameters": [
                    {
                        "name": "district_id",
                        "in": "query",
                        "description": "district_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "name",
                        "in": "query",
                        "description": "name",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "500": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/notification": {
            "get": {
                "tags": [
                    "Notifications"
                ],
                "summary": "get all notifications",
                "description": "",
                "operationId": "notification",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "access token",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Server error"
                    }
                }
            }
        },
        "/notification/read": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "read notification",
                "description": "",
                "operationId": "readNotification",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "notification_id"
                                ],
                                "properties": {
                                    "notification_id": {
                                        "description": "notification_id",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "Get all orders",
                "description": "",
                "operationId": "OrdersGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "null: tất cả, 1:chờ thanh toán, 2:Chờ lấy hàng, 3: Đang giao, 4: Đã giao, 5: Đã hủy",
                        "required": false,
                        "schema": {
                            "enum": [
                                1,
                                2,
                                3,
                                4,
                                5
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            },
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "add orders",
                "description": "",
                "operationId": "OrdersAdd",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "address_id",
                                    "payment_method",
                                    "shipping_method"
                                ],
                                "properties": {
                                    "address_id": {
                                        "description": "AddressID",
                                        "type": "integer"
                                    },
                                    "province_id": {
                                        "description": "province_id",
                                        "type": "integer"
                                    },
                                    "district_id": {
                                        "description": "district_id",
                                        "type": "integer"
                                    },
                                    "ward_id": {
                                        "description": "ward_id",
                                        "type": "integer"
                                    },
                                    "home_number": {
                                        "description": "home_number",
                                        "type": "string"
                                    },
                                    "full_address": {
                                        "description": "full_address",
                                        "type": "string"
                                    },
                                    "fullname": {
                                        "description": "Tên đầy đủ",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "Số điện thoại",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email",
                                        "type": "string"
                                    },
                                    "basket_item_ids": {
                                        "description": "basket_item_ids",
                                        "type": "array",
                                        "items": {}
                                    },
                                    "payment_method_id": {
                                        "description": "payment_method_id",
                                        "type": "integer"
                                    },
                                    "shipping_method": {
                                        "description": "shipping_method",
                                        "type": "integer"
                                    },
                                    "discount_code": {
                                        "description": "Mã giảm giá",
                                        "type": "string"
                                    },
                                    "latitude": {
                                        "description": "Latitude",
                                        "type": "string"
                                    },
                                    "longitude": {
                                        "description": "Longitude",
                                        "type": "string"
                                    },
                                    "branch_id": {
                                        "description": "BranchId",
                                        "type": "integer"
                                    },
                                    "type_ahamove": {
                                        "description": "1: có 2 không",
                                        "type": "integer"
                                    },
                                    "date_receiver": {
                                        "description": "date_receiver",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/addMoreItem": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Add more item",
                "description": "",
                "operationId": "OrdersAddMore",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "product_id",
                        "in": "query",
                        "description": "product id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "amount product",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "order id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/new": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "add orders New",
                "description": "",
                "operationId": "OrdersAddNew",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "Device ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "warehouse_id",
                        "in": "query",
                        "description": "Id của bàn đặt",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "description": "Id của chi nhánh ",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "address_id",
                                    "payment_method",
                                    "shipping_method"
                                ],
                                "properties": {
                                    "home_number": {
                                        "description": "Bàn sô 1",
                                        "type": "string"
                                    },
                                    "customer_type": {
                                        "description": "vd : 0 is staff, 1 is guest",
                                        "type": "integer"
                                    },
                                    "full_address": {
                                        "description": "vd : Quận 5 - Bàn số 1",
                                        "type": "string"
                                    },
                                    "fullname": {
                                        "description": "Tên đầy đủ",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "Số điện thoại",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email",
                                        "type": "string"
                                    },
                                    "basket_item_ids": {
                                        "description": "basket_item_ids",
                                        "type": "array",
                                        "items": {}
                                    },
                                    "payment_method_id": {
                                        "description": "payment_method_id",
                                        "type": "integer"
                                    },
                                    "shipping_method": {
                                        "description": "shipping_method",
                                        "type": "integer"
                                    },
                                    "discount_code": {
                                        "description": "Mã giảm giá",
                                        "type": "string"
                                    },
                                    "date_receiver": {
                                        "description": "date_receiver",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/changeStatusOrder": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "change status orders",
                "description": "",
                "operationId": "ChangeStatusOrders",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discount_code",
                        "in": "query",
                        "description": "Mã khuyến mãi",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "phone of custom",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/changeStatusOrderPrepare": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "change status orders Prepare",
                "description": "",
                "operationId": "ChangeStatusOrdersPrepare",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "query",
                        "description": "Order ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "discount_code",
                        "in": "query",
                        "description": "Mã khuyến mãi",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "phone",
                        "in": "query",
                        "description": "phone of custom",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/{order_id}": {
            "get": {
                "tags": [
                    "Orders"
                ],
                "summary": "get a orders detail",
                "description": "",
                "operationId": "OrdersGetDetail",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "order_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/orders/cancel/{order_id}": {
            "post": {
                "tags": [
                    "Orders"
                ],
                "summary": "Cancel a orders",
                "description": "",
                "operationId": "OrdersCancel",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "device_id",
                        "in": "query",
                        "description": "device id",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_id",
                        "in": "path",
                        "description": "order_id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "cancel_reason"
                                ],
                                "properties": {
                                    "cancel_reason": {
                                        "description": "cancel_reason",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/posts": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "get all posts",
                "operationId": "getAllPosts",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_id",
                        "in": "query",
                        "description": "Category ID",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "total record return",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page number",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/posts/category/getAll": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "get all posts category",
                "operationId": "getAllPostsCategory",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/posts/detail": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "summary": "get detail posts",
                "operationId": "getDetailPosts",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID Tin tức",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/product/getAll": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get all products",
                "description": "",
                "operationId": "ProductGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "category_ids[]",
                        "in": "query",
                        "description": "Danh sách id danh mục, ex: [1,2,3]",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "keywords",
                        "in": "query",
                        "description": "Từ khóa tìm kiếm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "price_from",
                        "in": "query",
                        "description": "Giá thấp nhất",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "price_to",
                        "in": "query",
                        "description": "Giá cao nhất",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "skip_product_ids[]",
                        "in": "query",
                        "description": "Danh sách id sản phẩm bỏ qua, ex: [1,2,3]",
                        "required": false,
                        "schema": {
                            "type": "array",
                            "items": {}
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "limit",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "page",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "branch_id",
                        "in": "query",
                        "description": "branch_id",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "sắp xếp sản phẩm",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/product/{id}": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get product by id",
                "description": "",
                "operationId": "ProductGetByID",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/product/type/getAll": {
            "get": {
                "tags": [
                    "Products"
                ],
                "summary": "Get all product type",
                "description": "",
                "operationId": "ProductTypeGetAll",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API Key",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User login",
                "description": "",
                "operationId": "UserLogin",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "api_key",
                                    "email_or_phone",
                                    "password"
                                ],
                                "properties": {
                                    "company_id": {
                                        "description": "Company ID",
                                        "type": "string"
                                    },
                                    "api_key": {
                                        "description": "API KEY",
                                        "type": "string"
                                    },
                                    "email_or_phone": {
                                        "description": "email_or_phone",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "password",
                                        "type": "string"
                                    },
                                    "fcm_token": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_os": {
                                        "description": "",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/register": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User register",
                "description": "",
                "operationId": "UserRegister",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "company_id",
                                    "api_key",
                                    "email",
                                    "phone",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "company_id": {
                                        "description": "Company ID",
                                        "type": "string"
                                    },
                                    "api_key": {
                                        "description": "API KEY",
                                        "type": "string"
                                    },
                                    "fullname": {
                                        "description": "fullname",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "email",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "password, min lenght 6",
                                        "type": "string"
                                    },
                                    "password_confirmation": {
                                        "description": "password confirmation",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "phone",
                                        "type": "numeric"
                                    },
                                    "address": {
                                        "description": "address",
                                        "type": "string"
                                    },
                                    "fcm_token": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_id": {
                                        "description": "",
                                        "type": "string"
                                    },
                                    "device_os": {
                                        "description": "",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "400": {
                        "description": "Missing/Invalid params"
                    },
                    "500": {
                        "description": "Server error"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Account is banned"
                    },
                    "404": {
                        "description": "Account not exits"
                    },
                    "405": {
                        "description": "Account has not been activated yet"
                    }
                }
            }
        },
        "/user/update": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "User update info",
                "description": "",
                "operationId": "UserUpdate",
                "parameters": [
                    {
                        "name": "company_id",
                        "in": "query",
                        "description": "Company ID",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "api_key",
                        "in": "query",
                        "description": "API KEY",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "token",
                        "in": "query",
                        "description": "token from api login",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "email",
                                    "phone"
                                ],
                                "properties": {
                                    "fullname": {
                                        "description": "Fullname of user",
                                        "type": "string"
                                    },
                                    "email": {
                                        "description": "Email of user",
                                        "type": "string"
                                    },
                                    "phone": {
                                        "description": "phone",
                                        "type": "numeric"
                                    },
                                    "password_old": {
                                        "description": "old password, require when update password",
                                        "type": "string"
                                    },
                                    "password": {
                                        "description": "new password, min lenght 6, require when update password",
[...]
